In [7]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors
import joblib

In [3]:
df = pd.read_csv(r"kaggle-preprocessed.csv")

In [4]:
df.head(1)

,Unnamed: 0,Dataset_name,Author_name,Author_id,No_of_files,size,Type_of_file,Upvotes,Medals,Usability,Date,Day,Time,Dataset_link
0,0,Hotel Reservations Dataset,Ahsan Raza,https://www.kaggle.com/ahsan81,1,491 kB,CSV,315,Silver,10.0,1/04/2023,Wed,18:20:31,https://www.kaggle.com/datasets/ahsan81/hotel-...

In [5]:
df.isnull().sum()

Unnamed: 0      0
Dataset_name    0
Author_name     0
Author_id       0
No_of_files     0
size            0
Type_of_file    2
Upvotes         0
Medals          0
Usability       0
Date            0
Day             0
Time            0
Dataset_link    0
dtype: int64

In [12]:
df.describe()

        Unnamed: 0   No_of_files       Upvotes    Usability
count  9158.000000  9.158000e+03   9158.000000  9158.000000
mean   4962.285324  5.757153e+03     73.424438     7.436525
std    2878.212666  5.875721e+04    378.870115     2.764569
min       0.000000  0.000000e+00      0.000000     0.000000
25%    2477.250000  1.000000e+00      7.000000     5.900000
50%    4936.000000  2.000000e+00     23.000000     8.500000
75%    7457.750000  8.000000e+00     51.000000     9.700000
max    9970.000000  3.999566e+06  27619.000000    10.000000

In [13]:
df.dropna(axis=0, inplace=True)

In [14]:
df.isnull().sum()

Unnamed: 0      0
Dataset_name    0
Author_name     0
Author_id       0
No_of_files     0
size            0
Type_of_file    0
Upvotes         0
Medals          0
Usability       0
Date            0
Day             0
Time            0
Dataset_link    0
dtype: int64

In [ ]:
df.drop(columns=['Unnamed: 0'], inplace=True)

df['features'] = (
    df['Dataset_name'].astype(str) + ' ' +
    df['Type_of_file'].astype(str) + ' ' +
    df['Author_name'].astype(str))

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors
import joblib

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['features'])

model = NearestNeighbors(n_neighbors=5, metric='cosine')
model.fit(X)

joblib.dump(model, 'model.pkl')
joblib.dump(vectorizer, 'vectorizer.pkl')
joblib.dump(df, 'dataset.pkl')

['dataset.pkl']